.user-tab-container {
    width: 95vmin;
    /* position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 120px; */
    margin-top: 100px;
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); */
    /* background-color: #262522; */

  }
  .user-tab-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tab-header {
    background-color: #0f0f0e;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    color: #BBBAB9;
  }
  .user-tab-tab-content {
    background-color: rgba(0,0,0,0.2);
    padding: 50px 40px;
    overflow-y: scroll;
    max-height: 800px;
  }
  .user-tab-tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
  }
  /* .user-tab-tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #fff;
  } */

  .user-tab-tabs .user-tab-active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
  }

  .save-place-photo {
    width: 100%;
    display: flex;
    max-height: 214px;
  }
  

  .popular__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .popular__card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    max-height: 370px;
  }
  
  .popular__content {
    padding: 1rem;
  }
  
  .popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  .popular__card__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  .popular__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .popular__content p {
    color: var(--text-light);
  }

  .save-place-btn {
    margin-right: 0;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px; /* Adjust padding as needed */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }

  .close-button:hover {
    transform: scale(1.5);
  }
  
  @media (width < 600px) {
    .popular__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

  .user-comments-container{
    display: grid;
    height: 100%;
    place-items: center;
  }
  ::selection{
    background: rgba(23,162,184,0.3);
  }
  .wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    min-width: 250px;
    min-height: 250px;
    margin-top: 20px;
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: #17a2b8;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #17a2b8;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #17a2b8;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #17a2b8;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }

  .user-comment-text {
    color:#0f0f0e;
  }

  @media (max-width: 1045px) {
    .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .wrapper .box{
      width: 100%;
    }
  }